# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio Code files
.vscode
.vs

# analisys
analysis/lib64

# PyCharm files
.idea

# third-party
opensource/
platform/
