[Unit]
Description=IDE Daemon process
Requires=start_roscore.service
After=start_roscore.service

[Service]
ExecStart=/bin/bash /var/mdc_ide_daemon_start.sh
ExecStartPost=/bin/bash /usr/bin/mdc/base/set_limit.sh DFX mdc_ide_daemon_start.sh
KillMode=process
Restart=no
RemainAfterExit=yes
Type=simple

