bin/
obj/
bin-arm64/

# visual studio solution files
*.sln
*.vcxproj*
*.vcxproj.filters
*.vs/

# out files
*.o
*.out
build/

# ctags file
*.tags*

# sourceinsight proj files
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3
